#container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 60px 250px 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------   Estilos index   ------------*/


/* ------------   Estilos nav   ------------*/

#horizontal_navbar{
    grid-column: 1 / 4;
    display: inline-flex;
    height: 50px;
    grid-template-columns: 80% 20%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    justify-content: space-between
}

#boton_registro_usuario{
    font-weight:bold;
    height: 50%;
    margin-right: 20px;  
    align-self: center;
    justify-self: center;
    background-color: white;
}

#boton_registro_usuario a {
    text-decoration: none;
}

#landing_logo{
    height: 100%;
    align-self: center;
    justify-self: center;
}


/* ------------   Estilos Section   ------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n+1) {
  stroke: #001694;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n+2) {
  stroke: #00973f9f;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n+3) {
  stroke: #012c31;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n+4) {
  stroke: #00084d;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n+5) {
  stroke: #00953e;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

svg {
    font: 6em/1 Open Sans, Impact;
    text-transform: uppercase;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

#tecnotic{
    grid-column: 1 / 4;
    width: 33%;
	display:block;
	margin:0 auto;
	margin-top: 2%;
}

p{
    grid-column: 1 / 4;
    text-align: center;
    font-size:30px;
	text-align:center;
	padding: 9px;
}


/* ===================Registro=============== */


#titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding-top: 40px;
    color: #3537b1;
}
#form_nuevo_usuario{
    display: flexbox;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 20px;
    background-color: #3537b1;
    color: white;
    height: 300px;
    width: 500px;
    margin: auto;
    border-radius: 20px;
}

#containerForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    padding-top: 50px;

}

.d_play{
    grid-template-columns: 1 / 2;
    display: inline-block;
    text-align: center;    
}

.d_play2{
    grid-template-columns: 2 / 3;
    display: inline-block;
    margin-right: 50px;

}

#enviar_registro{
    text-align: center;
    font-size: 20px;
    width: 100px;
    background-color: white;
    color: #262895;
    margin-top: 50px;
}

